:root {
    --spacing-none: 0;
    --spacing-extra-small: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
}

.pa3 { padding: var(--spacing-small); }

.pt0 { padding-top: var(--spacing-none); }
.pt1 { padding-top: var(--spacing-extra-small); }
.pt2 { padding-top: var(--spacing-small); }
.pt4 { padding-top: var(--spacing-large); }

.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }

.bg_light { background-color: #f1f1f1; }