<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h4>Book'ля</h4>
    <h3>Бестселлеры, новинки и классика от триллеров до поэзии</h3>
  </body>
<%= link_to 'Войти или зарегистрироваться', action: 'profile', controller: 'persons' %>
</html>
